/* Container for the entire share page */
.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #f0f2f5; */
  background-color: var(--background);
  padding: 20px;
}

/* Share card with box-shadow for a modern look */
.share-card {
  background-color: var(--white);

  border-radius: 8px;
  padding: 30px;
  max-width: 500px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.share-card h2 {
  font-size: 24px;
  color: var(--text);
  margin-bottom: 15px;
}

.share-card .income {
  color: #1ebe52;
}
.share-card p {
  color: #777;
  margin-bottom: 20px;
}

/* Style for the referral link copy section */
.copy-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  color: #3b5998;
  overflow: auto;
  border: 1px solid #000;
}

.copy-link span {
  color: #333;
  font-size: 14px;
  overflow-wrap: break-word;
  flex: 1;
}

/* Share buttons list */
.share-buttons ul {
  list-style: none;
  padding: 0;
}

.share-buttons ul li {
  margin: 10px 0;
}

/* Button styles for different social media */
.share-btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
}

.whatsapp-btn {
  background-color: #25d366;
}

.whatsapp-btn:hover {
  background-color: #1ebe52;
}

.facebook-btn {
  background-color: #3b5998;
}

.facebook-btn:hover {
  background-color: #324b83;
}

.twitter-btn {
  background-color: #1da1f2;
}

.twitter-btn:hover {
  background-color: #1991db;
}

.linkedin-btn {
  background-color: #0077b5;
}

.linkedin-btn:hover {
  background-color: #005f93;
}

.telegram-btn {
  background-color: #0088cc;
}

.telegram-btn:hover {
  background-color: #0070a7;
}

.pinterest-btn {
  background-color: #bd081c;
}

.pinterest-btn:hover {
  background-color: #9e0717;
}

.reddit-btn {
  background-color: #ff4500;
}

.reddit-btn:hover {
  background-color: #d93800;
}

/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
  .share-card {
    width: 100%;
  }

  .share-btn {
    font-size: 14px;
  }
}
